@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ryan Kenward's Parking API</title>
</head>
<body>
        <div>
            <h1>Parking API</h1>
            <p><br/>Copyright @DateTime.Now.Year Ryan Kenward</p>
        </div>
</body>
</html>

